@using Laboratorium3.Models

@model Post

<h1>Details</h1>

<table class="table table-bordered table-info">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Zawartość</th>
        <td>@Model.Content</td>
    </tr>
    <tr>
        <th>Autor</th>
        <td>@Model.Author</td>
    </tr>
    <tr>
        <th>Tagi</th>
         <td>@Model.Tags.GetDisplayName()</td> 
    </tr>
    <tr>
        <th>Data publikacji</th>
        <td>@Model.PublicationDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
    </tr>
    <tr>
        <th>Komentarz</th>
        <td>@Model.Comment</td>
    </tr>
</table>
<span>
    <a asp-controller="Post" asp-action="Index"><button type="submit" class="btn btn-primary">Powrót</button></a>
</span>
